<li><a href="/">Home</a></li>
<!-- <li><a href="/gallery">Gallery</a></li> -->
<li><a href="/creative">Creative</a></li>
<li><a href="/corporate">Corporate</a></li>
<li><a href="/weddings">Weddings</a></li>
<li><a href="/london-shoot">London Shoot</a></li>
<li><a href="/contact">Contact</a></li>
<!-- <li class="dropdown">
  <a class="drop-trigger" href="/blog">Blog</a>
  <ul class="drop-menu">
    <li>Recent Posts</li>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</li>
<li><a href="{{ site.posts.first.url }}">Newest Post</a></li> -->
